{% extends "base.html" %}
{% block content %}
<div class="alert alert-success" tabindex="-1" role="dialog" id="ModalChoice">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h1 class="mb-0">Пароль сменен.</h1>
                <br>
                <p class="mb-0">Вы успешно сменили пароль.</p>
                <hr>
                <a href="{% url 'homepage:main' %}" class="btn btn-lg fs-6 text-decoration-none col-6 m-0 rounded-0 border-end text-center">
                    <strong><u>На главную</u></strong>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}