{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container justify-content-center">
    <div class="list-group vertical-scrollable">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-md-9 col-lg-7 col-xl-6">
          <br/>
          <div class="card mb-4">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Профиль</h2>
              {% include "includes/form_errors.html" %}
              <hr/>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <div class="card-body text-center">
                  <h5 class="fw-bold">Аватар</h5>
                  {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}"
                         alt="avatar"
                         class="rounded-circle img-fluid"
                         style="max-width: 150px;
                                max-height: 150px">
                    <br>
                    <br>
                    <input type="checkbox"
                           class="btn-check"
                           name="avatar-clear"
                           id="danger-outlined"
                           autocomplete="off">
                    <label class="btn btn-outline-danger" for="danger-outlined">Удалить</label>
                  {% else %}
                    <img src="{% static 'img/user/user.png' %}"
                         alt="avatar"
                         class="rounded-circle img-fluid"
                         style="width: 160px">
                    <br>
                  {% endif %}
                  <label class="btn btn-outline-primary btn-file">
                    <i class="fs-5 bi-cloud-arrow-up"></i>
                    <input type="file"
                           style="display: none"
                           name="avatar"
                           accept="image/*"
                           class="form-control"
                           id="id_avatar">
                  </label>
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example1cg">{{ form.email.label_tag }}</label>
                  {{ form.email }}
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">{{ form.nickname.label_tag }}</label>
                  {{ form.nickname }}
                </div>
                <div class="form-outline mb-4">
                  <u><a href="{% url 'users:password_change' %}"
   class="btn btn-secondary btn-sm">Изменить пароль</a></u>
                </div>
                <hr>
                <div class="form-outline mb-sm-auto text-center">
                  <button type="submit"
                          class="btn btn-dark btn-block btn-lg gradient-custom-4 text-body">
                    <span class="text-white">Сохранить</span>
                  </button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">
                  <a href="{% url 'users:logout' %}" class="fw-bold text-body"><u>Выйти</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}
