{% extends 'base.html' %}
{% block content %}
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6 col-md-9 col-lg-7 col-xl-6">
          <h2 class="text-center text-dark mt-5">Сгенерированные вопросы</h2>
          <br>
          <div class="card">
            {% for kw in page_obj %}
              <div class="card-header mb-2 text-center">Область знаний: {{ kw.theme }}</div>
              <div class="card-body p-5">
                <div class="card-title">{{ kw.text }}</div>
                <div class="card-text">{{ kw.answer }}</div>
              </div>
            {% endfor %}
            <div class="card-footer">
              {% block pagination %}
                {% include 'includes/pagination.html' %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
